.single-neighbor {
    .neighbor-info-group {
        margin: 1rem 0;

        &-title {
            font-size: 1.3rem;
            font-weight: bold;
            text-decoration: underline;
        }
    }
}
