@import '~font-awesome/css/font-awesome.css';
@import '~bulma/bulma';

@import 'variables';
@import 'util/buttons';
@import 'navbar';
@import 'login';
@import 'neighbors/search';
@import 'neighbors/table';
@import 'neighbors/neighbor';

body {
    margin: 0;
    padding: 0;
}

.app {
    margin-left: $app-horizontal-margin;
    margin-right: $app-horizontal-margin;
    margin-top: 2rem;
}

a {
    text-decoration: none;
}

label {
    display: block;
}
